.container_box{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.container {
    background-color: whitesmoke;
    margin-top: 1rem;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: fit-content;
}

.list_container{
    margin-top: 1rem;
    padding:1rem;
    border-color: gainsboro;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    row-gap: 0.5rem;
    display: grid;
    background-color: white;


}

.list_container > form > input{
    border-radius: 0px;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
    border-style: solid;
    font-size: 1rem;


}

.list_item{
    color: crimson;
    text-decoration: underline;
}
.list_item:hover{
    color: blue;
    cursor:pointer;

}